@font-face {
    font-family: 'Pragmatica';
    src: url('fonts/Pragmatica Condensed Book.ttf') format('truetype');
    src: url('fonts/Pragmatica Condensed Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
	background: #222;
	font-family: 'Pragmatica', arial;
}

.commonOffset {
	display: inline;
	padding: 5px 10px 5px 10px;
}

.trigram {
	cursor: pointer;
}

.userList {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #fff;
}

.forAllRows {
	border-bottom: solid 1px #111;
	background: #333;
	display: block;
	width: 100%;
	padding: 15px 15px 15px 5px;
}
.forAllRows--button {
	cursor: pointer;
}

.header {
	position: relative;
	font-size: 25px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	z-index: 2;
}


.header--button {
	background: rgb(255, 180, 50);
	border: none; 
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.secondaryRow {
	position: relative;
	font-size: 18px;
	z-index: 1;
}
